:root {    
    --md-admonition-icon--code: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'/%3E%3Cline x1='44' y1='128' x2='212' y2='128' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='24'/%3E%3Cline x1='96' y1='208' x2='72' y2='240' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='24'/%3E%3Cline x1='160' y1='208' x2='184' y2='240' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='24'/%3E%3Crect x='44' y='32' width='168' height='176' rx='24' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='24'/%3E%3Ccircle cx='88' cy='168' r='16'/%3E%3Ccircle cx='168' cy='168' r='16'/%3E%3C/svg%3E");  
    --class-color: rgb(230, 105, 91);
}    

  .md-typeset .admonition.code,
  .md-typeset details.code {
    border-color: rgb(230, 105, 91);
    font-size: .8rem;
  }
  .md-typeset .code > .admonition-title,
  .md-typeset .code > summary {
    background-color: rgba(230, 105, 91, 0.1);
  }
  .md-typeset .code > .admonition-title::before,
  .md-typeset .code > summary::before {
    background-color: rgb(230, 105, 91);
    -webkit-mask-image: var(--md-admonition-icon--code);
            mask-image: var(--md-admonition-icon--code);
  }
  